.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  /* background: rgb(225, 132, 73);
  background: linear-gradient(
    32deg,
    rgba(225, 132, 73, 1) 0%,
    rgba(177, 36, 224, 1) 35%,
    rgba(94, 140, 244, 1) 100%
  ); */
  background: #f4f7fb;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #333;
  padding: 0 2em;
  margin-bottom: -30px;
}

.heading1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
}

.heading2 {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}
